{{set . "title" "Bookshelf"}}
{{template "header.html" .}}

<!--TODO: This page isn't fully independent of the bebop.css-->
<link rel="stylesheet" type="text/css" href="/public/css/bookshelf.css">
<script src="/public/js/bookshelf.js"></script>

<h1> Bookshelf </h1>
<!--TODO: Use ajax to upload data-->
<div id="content" class="container-fluid">
  <!--This is where the bookshelf.js will load the bookshelf into-->
  <div id="bookshelf" class="row"></div>
  <div class="card book-card">
    <div id="edit" class="card-block">
      <button type="button" class="btn btn-lg btn-danger test-popover" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
      <form method="POST" action="{{url "BookShelf.HandleUpload"}}" id="bookupload" enctype="multipart/form-data">
        {{with $field := field "book.Title" .}}
        <p>
            <label>Title:</label>
            <input type="text" name="{{$field.Name}}" />
            <span class="error">{{$field.Error}}</span>
        </p>
        {{end}}
        {{with $field := field "book.Author" .}}
        <p>
            <label>Author:</label>
            <input type="text" name="{{$field.Name}}" />
            <span class="error">{{$field.Error}}</span>
        </p>
        {{end}}
        {{with $field := field "book.CoverImg" .}}
        <p>
            <label>Cover Image:</label>
            <input type="file" name="{{$field.Name}}" />
        </p>
        {{end}}
        <p>
            <input type="submit" value="Upload" class="btn btn-large btn-success" />
        </p>
     </form>
    </div>
  </div>
</div>

{{template "footer.html" .}}