/* Styles for BebopTechnology site
sits just below the bootstrap styles */

html {
    height: 100%;
}

body {
    /*TODO: Pick perfect background light-grey*/
    background-color: whitesmoke;
}

#content {
   margin-bottom: 20px;
}

#stuff {
    min-height: 60vh;
    /*height: 100%;*/
}
#moar-stuff {
    min-height: 60vh;
    /*margin-bottom: 10px;*/

}

.my-card{
    background-color: white;
    border-width: 0px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
}

#banner-title {
    /*min-height: 20*/
    padding-top: 20px;
    padding-bottom: 2px;
    padding-left: 15px;
}

#banner-nav {
    background-color: white;
    border-width: 0px;
}

.no-left-padding {
    padding-left: 0px;
}

#bebop-tech {
    /*margin-bottom: 0;*/
    font-family: 'Roboto', serif;
    font-weight: 500;
    color: darkcyan;
}