/* Style s for BebopTechnology site
sits just below the bootstrap styles */

/*body {
    font: Roboto;
}*/
body {
    /*background-color: #eceeef;*/
    background-color: whitesmoke;
    /*background-color: rgb(236,238,239);*/
    margin-top: 30px;

}

.banner {
    background-color: white;
    border-width: 0px;
    border-radius: 5px;
    /*border-top-left-radius: 5px;
    border-top-right-radius: 5px;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0px;
}


#banner-title {
    padding-top: 20px;
    padding-bottom: 2px;
    padding-left: 15px;
}

#banner-nav {
    background-color: white;
    border-width: 0px;

    /*border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;*/

}

.no-left-padding {
    padding-left: 0px;
}

#bebop-tech {
    /*margin-bottom: 0;*/
    font-family: 'Roboto', serif;
    font-weight: 500;
    color: darkcyan;
}