/* Styles for BebopTechnology site
sits just below the bootstrap styles */

html {
    height: 100%;
}

body {
    /*TODO: Pick perfect background light-grey*/
    background-color: whitesmoke;
}

p.bold {
    font-weight: bold;
}

#content, #bookshelf{
   margin-bottom: 20px;
}

.book-card{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
}

.book-card:hover .edit_button{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    visibility: visible;
}

.edit_button{
    visibility: hidden;
    float: right;
    border: 5;
    margin-left: 10px;
}

#background-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #151515; /* darkgray */
    opacity: 0.6;
    z-index: 888;
}

#page-cover {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 92vw;
  height: 92vh;
  z-index: 999;
  margin-top: 0px; /* cancel out the card margin */
  overflow: hidden;
  overflow: scroll;
}

.book-cover-full {
    max-height: 300px;
    max-width: 200px;
}

.place-holder-img{
    background-color: lightgray;
    border: 4px solid /*gray*/ #a3a3a3;
    border-radius: 20px;
    min-height: 50vh;
}

.center-placeholder {
    line-height: 45vh; /*This is a really jenky way to center this*/
}

.no-scroll{
    overflow: hidden;
}
