{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>{{.greeting}}</h1>
      <p></p>
    </div>
  </div>
</header>

<!--This is a banner that checks the flash cookie and displays success or fail-->
<!--<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>
-->

<form method="POST" action="{{url "BookShelf.HandleUpload"}}" id="bookupload">
  {{with $field := field "book.Title" .}}
  <p>
    <label>Title:</label>
    <input type="text" name="{{$field.Name}}"/>
    <span class="error">{{$field.Error}}</span>
  </p>
  {{end}}
  {{with $field := field "book.Author" .}}
  <p>
    <label>Author:</label>
    <input type="text" name="{{$field.Name}}"/>
    <span class="error">{{$field.Error}}</span>
  </p>
  {{end}}
  <p>
    <input type="submit" value="save" />
  </p>
</form>

{{if .books}}
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publication Date</th>
    </tr>
  </thead>
  <tbody>
    {{range .books}}
    <tr>
      <td>{{.Title}}</td>
      <td>{{.Author}}</td>
      <td>{{.PublicationDate}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
{{else}}
<p>
  No books found
</p>
{{end}}

{{template "footer.html" .}}
