{{set . "title" "Bebop"}}
{{template "header.html" .}}

<!--Everything should be inside this top container-->
<div class="container">
  <div class="banner">
    <div id="banner-title">
      <h1 id="bebop-tech">Bebop Technology</h1>
    </div>
    <!--TODO: Maybe remove navbar-inverse-->
    <nav class="navbar" id="banner-nav">
      <div class="container-fluid no-left-padding">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href="#">Bebop Technology</a>-->
        </div>
        <div class="collapse navbar-collapse no-left-padding" id="myNavBar">
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Home</a></li>-->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <!--TODO: Insert github icon-->
                <!--<img src="/public/img/GitHub-Mark-32px.png" alt="Github"/>-->
                Github<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a target="_blank" href="http://github.com/bmorgan5/ledvest">LED Vest</a></li>
                <li><a target="_blank" href="http://github.com/bmorgan5/fun_ofdm">Fun OFDM</a></li>
              </ul>
            </li>
            <li><a href="{{url "BookShelf.Index"}}">BookShelf</a></li>
            <li><a href="#">Space Timeline</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>Sign-Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

{{template "footer.html" .}}
