<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-4.0.0-a6.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/bebop.css">
    <!--<link rel="stylesheet" type="text/css" href="/public/css/roboto.css">-->
    <!--TODO: Download this locally-->
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:300,500,700" rel="stylesheet">-->

    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">

    <script src="/public/js/jquery-3.2.0.min.js"></script>
    <script src="/public/js/tether-1.4.0.min.js"></script>
    <script src="/public/js/bootstrap-4.0.0-a6.min.js"></script>

    <!--{{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}-->
  </head>
  <body>
